@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333333;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.cf:after {
    content: "";
    display: block;
    clear: both;
}
/* A. Header */
.header {
    width: 100%;
    height: 100px;
    background-color: #f76565;
}
#headerwrap {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.h_logo {
    width: 200px;
    /* 플롯 */
    float: left;
    padding-top: 30px;
}
.h_logo img {
    width: 200px;
}
.gnb {
    width: 1000px;
    /* 플롯 */
    float: right;
}
.nav {
    margin-left: 400px;
    width: 800px;
}
.nav>ul>li {
    width: 150px;
    height: 60px;
    /* 플롯 */
    float: left;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    line-height: 60px;
    padding-top: 40px;
    /* 포지션 위치기준값 */
    position: relative;
}
.nav>ul>li>a {
    display: block;
}
.nav>ul>li>a:hover {
    background-color: #f79d9d;
    transition: all 0.3s;
}
.submenu {
    /* 포지션 */
    position: absolute;
    left: 0;
    top: 100px;
    z-index: 10;
}
.submenu>li {
    width: 150px;
    height: 60px;
    font-size: 20px;
    font-weight: 500;
    background-color: #ffffff;
}
.submenu>li>a {
    display: block;
}
.submenu>li>a:hover {
    background-color: #f79d9d;
    transition: all 0.3s;
}
/* Main */
main {
    width: 1200px;
    height: 500px;
    margin: 0 auto;
}
/* B. Image Slide */
.imgslide {
    width: 1200px;
    height: 300px;
    overflow: hidden;
}
.imgslide img {
    display: block;
}
.slide li {
    /* 포지션 위치기준값 */
    position: relative;
}
.slide li p {
    width: 200px;
    height: 58px;
    background-color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    line-height: 60px;
    border-bottom: 2px solid #000;
    /* 포지션 */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-100px) translateY(-29px);
    z-index: 5;
}
/* C. Contents */
.contents {
    width: 1200px;
    height: 200px;
}
.notice {
    width: 380px;
    /* 플롯 */
    float: left;
    margin-top: 8px;
    margin-left: 20px;
}
.notice h3 {
    font-size: 22px;
}
.notice li {
    height: 24px;
    line-height: 24px;
    font-size: 18px;
}
.notice li:nth-child(2n) {
    background-color: #ccc;
}
.gallery {
    width: 380px;
    /* 플롯 */
    float: left;
    margin-top: 8px;
    margin-left: 20px;
}
.gallery h3 {
    font-size: 22px;
}
.gallery ul {
    width: 330px;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner {
    width: 400px;
    /* 플롯 */
    float: right;
    /* 포지션 위치기준값 */
    position: relative;
}
.banner p {
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    background-color: #fff;
    /* 포지션 */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40px) translateY(-15px);
    z-index: 5;
}
/* PopUp */
#wrap {
    /* 포지션 위치기준값 */
    position: relative;
}
.popup {
    width: 500px;
    height: 300px;
    background-color: #fff;
    border: 1px solid #000;
    /* 포지션 */
    position: absolute;
    left: 50%;
    transform: translateX(-250px);
    top: 80px;
    z-index: 100;
}
.p_title {
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-bottom: 1px solid #000;
}
.p_text {
    height: 140px;
    margin-top: 20px;
    text-align: center;
}
.p_text p {
    font-size: 18px;
}
.p_btn {
    width: 40px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: #ccc;
    border: 1px solid #000;
    border-radius: 4px;
    margin-bottom: 40px;
    margin-left: 210px;
    cursor: pointer;
}
.p_btn:hover {
    background-color: #f79d9d;
}
/* D. Footer */
.footer {
    width: 100%;
    height: 100px;
    background-color: #ccc;
}
#footerwrap {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.f_logo {
    width: 200px;
    /* 플롯 */
    float: left;
    padding-top: 30px;
}
.copyright {
    width: 800px;
    /* 플롯 */
    float: left;
    line-height: 100px;
    font-size: 18px;
    text-align: center;
}
.sns {
    width: 200px;
    /* 플롯 */
    float: right;
}
.sns ul {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}